{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron-img p-2 mb-2">
    <div class="container">
        <br><br>
        <h1 class="display-4">Munteanu Finance</h1>
        <br><br>
        <div class="lead"></div>
        <br><br>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <a href="{{ path('app_login') }}" class="btn btn-success">Log In</a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <a href="/api/docs" class="btn btn-warning">Swagger API</a>
        </div>
    </div>
</div>
{% endblock %}

