@import url('https://cdn.jsdelivr.net/gh/alumuko/vanilla-datetimerange-picker@latest/dist/vanilla-datetimerange-picker.css');

:root { --sidebar-bg: #deebff; }

.main-content {
    margin-bottom: 100px;
}

.markdown-preview {
    margin-top: 10px;
    border: 2px dashed #da3735;
    padding: 5px;
}

.form-date-range {
    width: 580px;
    flex: 0 0 580px;

    .form-control {
        display: inline-block;
        width: 186px;
        vertical-align: middle;
    }
    .form-select {
        display: inline-block;
        width: 320px;
        max-height: 26px;
    }
    .ts-wrapper {

    }
    .btn-success {
        width: 50px;
    }
}
.content-top {
    /*.content-search {
        flex: 0 0 550px;
    }*/
}
#unmatchedWrapper {
    .ts-dropdown {
        height:420px;
    }
    .ts-dropdown-content {
        max-height: 370px;
    }
}

#flash-messages {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
